.footer-container{
  // background: $light-blue;
  display: flex;
  justify-content: flex-end;
  // position: absolute;
  // bottom: 0;
  // height: 10%;
  // width: 100%
  height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: white;
    position:fixed;
  border-top: 1px solid gray;

}

.footer-container > nav > i{

}

.footer-container > nav > a:last-child{
  padding-left: 20px;
  padding-right: 5px;

}

.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}
