.footer-container{
  background: $light-blue;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 90%

}

.footer-container > nav > i{

}

.footer-container > nav > a:last-child{
  padding-left: 10px;
  padding-right: 3px;

}

.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}
