.header-nav{
  // background: $light-blue;
  display: flex;
  justify-content: space-between;
  // position: absolute;
  // height: 10%;
  // padding-top: 15px;
  // width: 100%;
  height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: white;
    position:fixed;
    border-bottom: 1px solid black;

}

.main-div{
  display: flex;
  justify-content: flex-start;
  max-width: 75%;
  margin-left: 0px;
  box-sizing: border-box;

}

.location-search-icon{
  font-weight: 600;
  color: $red;
  content: "o";
  position: absolute;
  right:10px;
}

.location-search-input{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border-style: solid;
  padding-left: 20px;
  height: 25px;

}

.location-search-container{
  padding-left: 10px;
  position: relative;
  padding-top: 10px;

}

.location-search-container:before{

 font-size: 20px;
 position: absolute;
 left: 20px;
 top: -6px;
 color: $red;
}

// .header-nav-session > a:last-child{
//     padding-left: 10px;
//     padding-right: 3px;
// }

.header-nav-session{
  padding-top: 10px;
  padding-right: 5px;
  // padding-left: 5px;
  display: flex;
  justify-content: flex-end;
  font-family: $sans-serif;

}




.header-nav-session button {
  font-size: 15px;
  outline: 3;
  border: 1px;
  color: white;
  background-color: $red;
  margin-left: 2px;
  margin-bottom: 9px;
}

// .header-nav-session button:first-of-type {
//   padding-left: 10px;
// }




.header-nav-icon{
  padding-left: 5px;
  padding-right: 5px;

}

.fa-cutlery {
    color: $red;
}

.header-title{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-left: 25%;

}
