.header-nav{

  display: flex;
  justify-content: space-between;
  height:50px;
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  background: white;
  padding-top: 10px;
  border-bottom: 1px solid black;
  z-index: 1;


}

.left-nav-div{
  display: flex;
  justify-content: flex-start;
  // max-width: 75%;
  margin-left: 0px;
  box-sizing: border-box;

}

.location-search-icon{
  font-weight: 600;
  color: $red;
  content: "o";
  position: absolute;
  right:10px;
}

.location-search-input{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border-style: solid;
  padding-left: 25px;
  height: 25px;
  outline: none;
}

.location-search-container{
  padding-left: 10px;
  position: relative;
  padding-top: 10px;

}

.location-search-container:before{

 font-size: 20px;
 position: absolute;
 left: 20px;
 top: -6px;
 color: $red;
}



.header-nav-session{
  padding-top: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  font-family: $sans-serif;
}




.header-nav-session button {
  font-size: 15px;
  outline: 3;
  border: 1px;
  color: white;
  background-color: $red;
  margin-left: 6px;
  margin-bottom: 9px;
}




.header-nav-icon{
  padding-left: 5px;
  padding-right: 5px;

}

.fa-cutlery {
    color: $red;
    margin-top: 5px;
}

.left-header-div{
  padding-left: 15px;
}

.header-title{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: Bold;

}
