.profile-main{
  // margin-top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.profile-div{

}

.h1-profile-main{
  margin-top: 0%;
  text-align: left;
  margin-left: 5px;
}


.restaurant-form-button {
  font-size: 15px;
  outline: 3;
  border: 1px;
  color: white;
  background-color: $red;
  margin-left: 2px;
  margin-bottom: 9px;
}

.header-links{
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: 700px;
  font-size: 1.4rem;
  line-height: 50px;
  background:none;
  border: none;
  margin-top: 5px;

}

.header-links:hover{
  background: $red;

}

.placeholder-div{
  height: 50px;
}
