.profile-main{
  margin-top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.restaurant-form-button {
  font-size: 15px;
  outline: 3;
  border: 1px;
  color: white;
  background-color: $red;
  margin-left: 2px;
  margin-bottom: 9px;
}
