.profile-restaurants-index-ul{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;

}



.profile-tabs{
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: linear-gradient(to right, #d53369, #d53369);
  box-shadow: 5px 5px 5px;

}

.profile-tabs-left{
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-left: 15px;



}

.profile-tabs-right{
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 15px;

}



.profile-reservations-button{
  padding: 5px;
}



.profile-restaurants-index-li{
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display: flex;
}

 img:last-of-type{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 12px;
  border-radius: 5%;
  padding-right: 3px;

}

.profile-restaurants-index-div-left{
  width: 60%;
  margin-left: 0;



}

.profile-restaurants-index-div-right{
   width: 40%;
   margin-right: 0;
   padding-top: 15%;
   height: inherit;
   padding-top: 5%;

  // display: flex;
  // justify-content: flex-end;
}

.button-bandaid{
  width: 79px;
}
