.reservation-div{
  margin: 0 auto;
  width: 75%;
  display: flex;
  border-radius: 3px;
}

.reservation-select{
  height: 45px;
  padding-top: 0px;
  margin-top: auto;
  width: 33%;
}

.reservation-input{
  height: 50px;
  padding-left: 10px;
  width: 33%;
  height: 42px;
  border-radius: 3px;
}

.reservation-form-button{
  height: 50px;
}

.reservation-form-li{
  color: red;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
