.reservation-div{
  margin: 0 auto;
  // border: 1px solid gray;
  width: 90%;
  display: flex;
  border-radius: 3px;


}

.reservation-select{
  height: 50px;
  padding-top: 0px;
  margin-top: auto;
}

.reservation-form-button{
  height: 50px;
}
