.restaurant-detail-main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #D3D3D3;
}

.restaurant-detail-header{
  height: 200px;
  width: 100%;
  background: linear-gradient(gray, #c19b6c);
  display: flex;
  justify-content: space-between;
}

.thumbnail-restaurant-detail{
    height: 125px;
    width: 150px;
    float: left;
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 2px;

}



.h1-restaurant-title{
    color: #fff;
    text-shadow: 5px;
    font-weight: bold;
    margin-top: 5%;

}

.fav-button-restaurant-item{
  height: 50px;
  width: 150px;
}


.restaurant-detail-header-left{
  margin-left: 1%;

}

.content-div{
  text-align: center;
  background-color: #F8F8F8;
  border: 1px solid gray;
  width: 90%;
  border-radius: 5px;
}

.content-div:first-of-type{
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  width: 90%;
  border-radius: 5px;
  margin-top: 15%;
}



.content-div h1{
  margin-top: 0;
  font-family: cursive;
}
