// .restaurant-index{
// text-align: center;
// height: 85%;
// height: 500px;
// position: inherit;
// overflow: scroll;
// }

.restaurant-index-ul{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.restaurant-index-h1{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}



.restaurant-index-li{
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display: flex;

}

.restaurant-index-li, img:last-of-type{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 12px;
  border-radius: 5%;
  padding-right: 3px;

}
.restaurant-index-left-div{



}


.restaurant-index-right-div{
  display: flex;
  justify-content: center;

}

.review-h3{
  margin-right: 10px;
}

.user-h4{
  font-family: sans-serif;
  font-size: 10px;

}


.h3-restaurant-index-item{
  margin-left: 150px;
  font-weight: lighter;
  color: black;
}


.h3-restaurant-index-item-price{
  color: green;
}
