.search-bar{
    background: white;
    width: 150px;
    border-radius: 3px;
    margin-left: 25%;
    position: absolute;
    overflow: scroll;
    height: 500px;

}



.search-bar-item{
  font-size: 18px;
  color: $red;
  margin-bottom: 5px;
}

.search-bar-item:hover{
  color: black;
}
