.session-form{
  text-align: center;
  height: 85%;
  position: absolute;
  width: 100%;
  margin-top: 15%;

}

.session-form-li{
  list-style: none;
  font-weight: 1000px;
  color: $red;
}

.input-session-form{
    margin-left: 5px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.input-button{
  width: 50%;
  background: red;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5px;
}
