<!DOCTYPE html>
<html>
  <head>
    <title>OpenTummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css“> -->

    <script src="https://use.fontawesome.com/c27e328ded.js"></script>




    <link href="https://fonts.googleapis.com/css?family=Quicksand|VT323|Boogaloo" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
